h3{
    color: goldenrod;
}
p{
    color: gold;
}
h1{
    color: goldenrod;
}
span{
    visibility: hidden;
}
a{
    color: darkgoldenrod;
    font-size: larger;
}
#top{
    color: blue;
}
h3{
    color: blue;
}
